@media all and (max-width: 400px) {
  .top {
    .logo {
      font-size: 10px;
    }
    .topmenu {
      font-size: 10px;
      .menu {
        margin-right: 10px;
      }
    }
    .user {
      font-size: 10px;
      .login {
        margin-right: 10px;
      }
    }
  }
}
.top {
  max-width: 1300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  .topmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      margin-right: 30px;
    }
  }
  .user {
    display: flex;
    align-content: center;
    .login {
      margin-right: 15px;
    }
  }
}
