.login {
  .lg-body {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
      margin-bottom: 30px;
    }
    input {
      width: 300px;
      margin-bottom: 10px;
    }
  }
}
