.upload {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .upload-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .body-image {
      img {
        width: 300px;
        height: 300px;
        border: 1px solid black;
      }
    }
  }
}
