.upload {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .upload-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .body-image {
      .image-size {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          margin-bottom: 15px;
        }
      }
    }
    .body-content {
      margin-left: 20px;
      .title {
        border-radius: 10%;
        width: 300px;
        height: 30px;
      }
      .content-ct {
        textarea {
          border-radius: 3%;
          width: 300px;
          height: 200px;
          margin-top: 10px;
        }
      }
    }
  }
}
